= form_for(@content, url: user_contents_path(user_id: current_user)) do |f|
  = f.text_field :title, placeholder: 'Title here', class: 'form-control'
  = f.text_area :text, placeholder: 'Text here', rows: 20, class: 'form-control'
  = f.submit 'Create', class: 'btn btn-success'
