/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require font-awesome
 *= require bootstrap-material-design/dist/css/material.min
 *= require bootstrap-material-design/dist/css/ripples.min
 *= require highlightjs/styles/github
 *= require github-markdown-css/github-markdown
 *= require_tree .
 *= require_self
 */

#editor {
  display: none;
}
#new_editor {
  display: none;
}

.markdown-body {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  /* padding: 30px; */
}
